###########
# /
###########
/build.xml
/.*
/*.phar
.gitmodules
/nbproject/private/
/vendor/*

###########
# Make an exception for this file
###########
!.gitignore

###########
# /htdocs/*
###########
/htdocs/nbproject
/htdocs/typo3_src*


###########
# /fileadmin/*
###########
/htdocs/fileadmin/*

######################
# /htdocs/typo3conf/
######################
/htdocs/typo3conf/LocalConfiguration.php
/htdocs/typo3conf/ENABLE_INSTALL_TOOL
/htdocs/typo3conf/FIRST_INSTALL
/htdocs/typo3conf/*.log


###########
# /scripts/*
###########
/scripts/Configuration.php