[submodule "htdocs/typo3conf/ext/fluidcontent"]
	path = htdocs/typo3conf/ext/fluidcontent
	url = git://github.com/FluidTYPO3/fluidcontent
[submodule "htdocs/typo3conf/ext/fluidcontent_bootstrap"]
	path = htdocs/typo3conf/ext/fluidcontent_bootstrap
	url = git://github.com/FluidTYPO3/fluidcontent_bootstrap
[submodule "htdocs/typo3conf/ext/fluidpages"]
	path = htdocs/typo3conf/ext/fluidpages
	url = git://github.com/FluidTYPO3/fluidpages
[submodule "htdocs/typo3conf/ext/flux"]
	path = htdocs/typo3conf/ext/flux
	url = git://github.com/FluidTYPO3/flux
[submodule "htdocs/typo3conf/ext/vhs"]
	path = htdocs/typo3conf/ext/vhs
	url = git://github.com/FluidTYPO3/vhs
[submodule "htdocs/typo3conf/ext/introduction"]
	path = htdocs/typo3conf/ext/introduction
	url = https://github.com/Ecodev/introduction.git
[submodule "htdocs/typo3conf/ext/media"]
	path = htdocs/typo3conf/ext/media
	url = git://git.typo3.org/TYPO3CMS/Extensions/media.git
[submodule "htdocs/typo3conf/ext/news"]
	path = htdocs/typo3conf/ext/news
	url = git://git.typo3.org/TYPO3CMS/Extensions/news.git
[submodule "htdocs/typo3conf/ext/realurl"]
	path = htdocs/typo3conf/ext/realurl
	url = git://git.typo3.org/TYPO3CMS/Extensions/realurl.git
[submodule "htdocs/typo3conf/ext/seo_basics"]
	path = htdocs/typo3conf/ext/seo_basics
	url = https://github.com/fudriot/t3ext-seo_basics.git
[submodule "htdocs/typo3conf/ext/jquerycolorbox"]
	path = htdocs/typo3conf/ext/jquerycolorbox
	url = git://github.com/Ecodev/jquerycolorbox.git
[submodule "htdocs/typo3conf/ext/wt_spamshield"]
	path = htdocs/typo3conf/ext/wt_spamshield
	url = git://git.typo3.org/TYPO3CMS/Extensions/wt_spamshield.git
[submodule "htdocs/typo3conf/ext/metadata"]
	path = htdocs/typo3conf/ext/metadata
	url = git://git.typo3.org/TYPO3CMS/Extensions/metadata.git
[submodule "htdocs/typo3conf/ext/nc_staticfilecache"]
	path = htdocs/typo3conf/ext/nc_staticfilecache
	url = git://github.com/TYPO3-svn-archive/nc_staticfilecache.git
[submodule "htdocs/typo3conf/ext/infinite_scroll_gallery"]
	path = htdocs/typo3conf/ext/infinite_scroll_gallery
	url = https://github.com/Ecodev/infinite_scroll_gallery.git
[submodule "htdocs/typo3conf/ext/vidi"]
	path = htdocs/typo3conf/ext/vidi
	url = git://git.typo3.org/TYPO3CMS/Extensions/vidi.git
[submodule "htdocs/typo3conf/ext/uncache"]
	path = htdocs/typo3conf/ext/uncache
	url = git://github.com/FluidTYPO3/uncache
[submodule "htdocs/typo3conf/ext/extension_builder"]
	path = htdocs/typo3conf/ext/extension_builder
	url = git://github.com/TYPO3-extensions/extension_builder.git
[submodule "htdocs/typo3conf/ext/specialityglobal"]
	path = htdocs/typo3conf/ext/specialityglobal
	url = git://github.com/webian/specialityglobal
[submodule "htdocs/typo3conf/ext/specialitylocal"]
	path = htdocs/typo3conf/ext/specialitylocal
	url = git://github.com/webian/specialitylocal
[submodule "htdocs/typo3_src"]
	path = htdocs/typo3_src
	url = git://git.typo3.org/Packages/TYPO3.CMS.git
